<%- include('./partials/header'); %>
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-10">
      <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>
<%- include('./partials/footer'); %>
