<%- include('./partials/header'); %>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="bs-example">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-thumbnail" src="http://fillmurray.com/50/50" alt="user">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Your Name</h4> @username
          </div>
          <h5>Messages</h5>
          <h4>12</h4>
        </div>
      </div>

      <div class="bs-example">
        <h4>Trending Moos</h4>
        <p>#moo</p>
        <p>#sohotinhere</p>
        <p>#turnontheAC</p>
        <p>#goawaysun</p>
      </div>
    </div>


    <div class="col-lg-8 col-md-8 col-sm-12">
      <!-- User Entry -->
      <form class="bs-example">
        <p>@username</p>
        <textarea class="form-control" name="new-entry"></textarea>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <!-- Other people-->
      <div class="bs-example">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-thumbnail" src="http://fillmurray.com/50/50" alt="user">
              </a>
            </div>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <h5>@username</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-right">Posted: Sat Feb 04 2017</p>
          </div>

        </div>
      </div>

      <div class="bs-example">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-thumbnail" src="http://fillmurray.com/50/50" alt="user">
              </a>
            </div>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <h5>@username</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-right">Posted: Sat Feb 04 2017</p>
          </div>
        </div>
      </div>

      <div class="bs-example">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-thumbnail" src="http://fillmurray.com/50/50" alt="user">
              </a>
            </div>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <h5>@username</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-right">Posted: Sat Feb 04 2017</p>
          </div>
        </div>
      </div>

      <div class="bs-example">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-thumbnail" src="http://fillmurray.com/50/50" alt="user">
              </a>
            </div>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <h5>@username</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-right">Posted: Sat Feb 04 2017</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer'); %>
